
\.gradle/

\.idea/

ccpalogs/

out/

src/main/java/unzip_into_src_java\.zip

src/main/java/unzip_into_src_java2\.zip

src/main/java/unzip_into_src_java3\.zip

src/main/java/unzip_into_src_java4\.zip

src/main/resources/conn\.properties

src/test/resources/test-conn\.properties
